@tailwind base;
@tailwind components;
@tailwind utilities;

/* header style */
.hero-img{
  border-radius: 50%;
  width: 100%;

}
header{
  @apply top-0 sticky z-20;
}
.name_design{
  background: linear-gradient(to right,orangered,white,green);
  background-clip: text;
 color: transparent;
}
header ul li{
  @apply px-4 ;
}
.mobile_nav{
@apply fixed top-10 left-0 bg-gray-950 text-white w-full h-1/4;
}

.mobile_nav li{
  @apply w-full text-center border-b-2 h-full;
  transition: 1s;
}
.mobile_nav li:active{
  @apply text-sky-400 ;

}
.destop_nav li{
  @apply transition-colors duration-300;
}
.destop_nav li:hover{
  @apply text-sky-400 ;
}
/* projects section */
.project-ani{
  @apply absolute left-0 right-0 bottom-[0px] top-0 bg-slate-900 opacity-0 duration-500 hover:opacity-100 ;
}
.resume-btn{
  @apply bg-gray-800 px-5 py-2 font-bold border border-transparent rounded text-white text-center
         transition-all duration-300 ease-in-out;
}

.resume-btn:hover{
  @apply border-white;
}


html{
  scroll-behavior: smooth;
}